{% extends "base.jinja2" %}

{% block title -%}
# {{ name | capitalize }}
{% endblock %}

{% block description -%}
![Version: {{ version }}](https://img.shields.io/badge/Version-{{ version }}-informational?style=%s)
![Type: {{ type}}](https://img.shields.io/badge/Type-{{ type }}-informational?style=%s)

{{ description }}

{{ long_description }}
{%- endblock %}

{% block table -%}
## Parametri

The following table lists the configurable parameters of the {{ name | capitalize }} chart and their default values.

| Parameter                | Description             | Collaudo | Certificazione | Produzione |
| ------------------------ | ----------------------- | -------- | -------------- | ---------- |
{%- for (param, comment, default, extra_values) in values -%}
    {%-  if extra_values %}
| `{{ param }}` | `{{ comment }}`  | `{{  extra_values["collaudo"] if extra_values["collaudo"] else '---' }}` | `{{ extra_values["certificazione"] if extra_values["certificazione"] else '---' }}` |  `{{ extra_values["produzione"] if extra_values["produzione"] else '---'}}` |
    {%- endif -%}
{%- endfor -%}
{%- endblock %}

{% block footnotes -%}
{{ footnotes }}
{% endblock -%}
